*{
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(216, 217, 218);

}
.container{
    width: 80%;
    background-image: url(/images/pexels-photo-234527.jpeg.jpg);
    display: block;
    height: 100%;
          
     
}
nav{
    height: 100px;
}
ul{
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-top: 20px;

}
li{
    display: inline-block;
    align-items: center;
    padding: 30px;
   
}
li>a{
    display: block;
    text-decoration: none;
    color:rgb(13, 59, 59);
}
section{
    height: 50vh;
    display: flex;
    
}
#boss>img{
    border-radius: 50%;
}