@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 209, 211);

}

.container {
    width: 80%;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
   
}

nav {
    height: 100px;
    background-color: rgb(73, 75, 75);
    opacity: 0.7;

}

nav>ul {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}

ul>li {
    display: inline-block;
    align-items: center;
    padding: 30px;
    font-family: 'Montserrat';
}

li>a {
    display: block;
    text-decoration: none;
    color: rgb(4, 231, 182);
    font-size: larger;
    font-weight: bolder;
}

li>a:hover {
    text-decoration: 2px solid rgb(4, 252, 211) underline;
}
section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(11, 212, 162);

}

#ibrahim {
    margin-left: 30%;
}

#ibrahim>p {
    font-size: 25px;
    font-family: 'Montserrat';
}

#ibrahim>p>a {
    color: aqua;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(3, 48, 33);
    width: 120px;
}

#ibrahim>p>a:hover {
    transition: (2s);
    width: 130px;
    border-bottom: 3px solid rgb(5, 243, 243);
}


#boss>img {
    border-radius: 50%;
    margin-left: 70%;

}

#webdesign {
    height: 100px;
    display: flex;
    margin: 3px;
    bottom: 10px;
    margin-top: 80px;


}

#bottom {
    background-color: rgb(30, 51, 45);
    color: antiquewhite;
    display: flex;
    height: 10%;
    font-size: 20px;
    /* opacity: 0.8; */
}

/* STYLES FOR THE ABOUT ME PAGE */

.wrapper {
    width: 80%;
    height: 100%;
    background-image: url(/images/chromeOS76appManager.jpg);
    background-repeat:repeat-y;
    background-size: cover;
    filter:brightness(60%)
    /* background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)),url(/images/chromeOS76appManager.jpg); */
    /* background-blend-mode: darken; */
}

#about {
    background-color: rgb(24, 23, 23);
    height: 8vh;
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 0.5;

}
strong>a{
    opacity: 1;
    text-decoration:underline ;
    font-family: 'Ubuntu';
    color: aqua;
}
strong>a:hover{
    text-decoration:1px solid white underline;
}

#about>p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

article {
    background-color: rgb(31, 29, 29);
    width: 80%;
    /* filter:brightness(30%); */
    color: white;
    opacity: 0.8;
    margin-top: 5px;
    font-size: 20px;
}
h2:hover{
    text-decoration: 1px solid underline;
}
#edu-pro{
    display: flex;
    
}
hr{
    width:80%;
    /* border: 0.5px solid; */
}
#job-info{
    display: flex;
    float: left;
    margin-left: 8%;
    margin-top: 3px;
}
#contacts{
    display: block;
    margin:20px ;
    margin-left:8%;
}

#education,#projects{
    margin-top: 3px;
}
#interests{
    margin-top: 3px;
    margin-left: 8%;
}
footer{
    background-color: rgb(30, 51, 45);
    height: 10vh;
    display: flex;
    margin-bottom: 0;
}
footer>p{
    color: antiquewhite;
}
