@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: auto;
    box-sizing: border-box;
    

}
body{
    background-color: rgb(207, 209, 211);

}
.container{
    width: 80%;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
     
}
nav{
    height: 100px;
    background-color: rgb(73, 75, 75)  ;
    opacity: 0.7;
   
}
nav>ul{
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}
ul>li{     
    display: inline-block;
    align-items: center;
    padding: 30px;
}
li>a{
    display: block;
    text-decoration: none;
    color:rgb(4, 231, 182);
    font-size: larger;
    font-weight: bolder;
}
li>a:hover{
    text-decoration: 2px solid rgb(4, 252, 211) underline;
}

section{
    height: 50vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgb(11, 212, 162);
    
}
#ibrahim{
    margin-left: 30%;
}
#ibrahim>p{
    font-size: 25px;
    font-family: 'Montserrat';
}

#ibrahim>p>a{
    color: aqua;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(3, 48, 33);
    width: 120px;
}
#ibrahim>p>a:hover{
    transition:(2s) ;
    width: 130px;
    border-bottom: 3px solid rgb(5, 243, 243);
}


#boss>img{
    border-radius: 50%;
    margin-left: 70%;

}
#webdesign{
    height:100px;
    display: flex;
    margin: 3px;
   bottom: 10px;
   margin-top: 80px;


}
#bottom{
    background-color: rgb(65, 68, 68);
    color: aqua;
    display: flex; 
    height: 10%;  
    opacity: 0.8;
}
.wrapper{
    width: 80%;
    background-image: url(/images/chromeOS76appManager.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
